@media (min-width: 1400px) {
    .container{
        max-width: 1350;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1550;
    }
}

@media (max-width: 992px) {
    .fb-share{
        position: absolute;
        bottom: -505px;
        right: 0;
        left: 0;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    #product-page{
        .checkout{
            .purchase{
                height: auto;
            }
        }
    }
}